/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1b660b;
  --ifm-color-primary-dark: #185c0a;
  --ifm-color-primary-darker: #175709;
  --ifm-color-primary-darkest: #134708;
  --ifm-color-primary-light: #1e700c;
  --ifm-color-primary-lighter: #1f750d;
  --ifm-color-primary-lightest: #22820e;
  --ifm-background-color: #f6f5f4;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1b660b;
  --ifm-color-primary-dark: #185c0a;
  --ifm-color-primary-darker: #175709;
  --ifm-color-primary-darkest: #134708;
  --ifm-color-primary-light: #1e700c;
  --ifm-color-primary-lighter: #1f750d;
  --ifm-color-primary-lightest: #22820e;
  --ifm-background-color: #262629;
}